<h5 style="font-size: 1vmax">Welcome {{userName}}!</h5>
<form [formGroup]="searchForm">
<div  class="p-grid p-fluid">

  <div style="display: inline-block">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">Text</span>
      <input #text
             type="text"
             pInputText
             placeholder="Free text"
             [formControl]="this.searchForm.get('text')">
    </div>
  </div>

  <div style="display: inline-block; padding-left: 1em">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">Author</span>
      <input #author
             type="text"
             pInputText
             placeholder="Author"
             [formControl]="this.searchForm.get('author')">
    </div>
  </div>

  <div style="display: inline-block; padding-left: 1em">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">Title</span>
      <input #title
             type="text"
             pInputText
             placeholder="Title"
             [formControl]="this.searchForm.get('title')">
    </div>
  </div>

</div>
</form>

<dl></dl>

<div style="display: inline-block">
  <p-button label="My wishlist"
            (onClick)="openWishList($event)">

  </p-button>
</div>
<dl></dl>

<div style="overflow-x:auto;">
<table *ngIf="(books$ | async) as bookResult">

    <tr>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Book cover</th>
      <th>Authors</th>
      <th>Published</th>
      <th>Language</th>
      <th>Categories</th>
    </tr>

    <tr *ngFor="let book of bookResult" (click)="onRowClick($event, book.id)">
      <td>{{book.title}}</td>
      <td>{{book.subtitle}}</td>
      <td><img *ngIf="book.imageLinks && book.imageLinks.thumbnail" [src]="book.imageLinks.thumbnail"
               alt="book.imageLinks.thumbnail" width="50" class="p-shadow-4"  /></td>
      <td>{{book.authors}}</td>
      <td>{{book.publishedDate}}</td>
      <td>{{book.language}}</td>
      <td>{{book.categories}}</td>
    </tr>

</table>
</div>

<app-details-dialog-box [bookId]="bookId"></app-details-dialog-box>

